/* Este es un archivo para CSS */

*{
   margin: 0; 
   box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: sans-serif;
    padding: 90px 20px 0 0;
}

.header{
    background-color: #076af0;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.aside{
    background-color: aqua;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 20px;
    width: 20%
}

.contenido{
    background-color: burlywood;
    position: fixed;
    top: 80px;
    left: 20%;
    right: 0;
    bottom: 20px;
    overflow: scroll;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

p{
   color: green;
}

aricle p{
   color: blue;
}

#noticia {
    color: brown;
}

.titulo{
    color: blueviolet;
}

.textoCentrado{
    text-align: center;
}

.textoDerecha{
    text-align: right;
}

tbody tr:nth-child(odd){
    background-color: green;
}

tbody tr:nth-child(even){
    background-color: white;
}

/* Comienza la definicion del menu */

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    line-height: 80px;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 8px;
}

.nav-menu-link:hover{
    background-color: #024070;
    font-size: 22px;
    transition: 0.5s;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}