<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="container">
            <div class="row"></div>
            <div class="row row-cols-6" >
                <a th:href="@{/}" class="btn btn-primary">
                    <i class='fas fa-reply'></i> [[#{accion.regresar}]]</a>
            </div>
            <div class="row"></div>
            <div class="row row-cols-3">
                <div class="card">
                    <div class="card-header text-center">
                        Reporte Cientes
                    </div>
                    <div class="card-body">
                        <a th:href="@{/reportes/clientes?tipo=vPdf}" class="btn btn-primary">
                            <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/clientes?tipo=Pdf}" class="btn btn-success">
                            <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/clientes?tipo=Xls}" class="btn btn-warning">
                            <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                        </a>
                        <a th:href="@{/reportes/clientes?tipo=Csv}" class="btn btn-danger">
                            <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">
                        Reporte ventas
                    </div>
                    <div class="card-body">
                        <a th:href="@{/reportes/ventas?tipo=vPdf}" class="btn btn-primary">
                            <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/ventas?tipo=Pdf}" class="btn btn-success">
                            <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/ventas?tipo=Xls}" class="btn btn-warning">
                            <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                        </a>
                        <a th:href="@{/reportes/ventas?tipo=Csv}" class="btn btn-danger">
                            <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                        </a>
                    </div>
                </div>                
            </div>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"/>         
    </body>
</html>
